/* 

    colors: 
    aqua #13ACC0
    raisin: #1A1B25
    light aqua: #D7F7FB
    off white: #F6F7F8
    beige: #d0ae9c
    pink 1: #d8b1ad
    pink 2: #e0c2bf

*/

/* CSS reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; }

[class*=grid] {
    margin:0;
}

html {
    scroll-behavior: smooth;
}


/* temporary styles for sturctual html */

/* section { */
    /* border: 1px solid rgb(240,240,240); */
/* } */



 /*-------------------------- Universal styles & utility classes -------------------------*/
 
 /* Padding Utility Classes --------------------------*/
.padded     { padding: 5%;   }
.padded-sm  { padding: 1rem; }
.padded-lg  { padding: 10%;  }

.padded-05  { padding: 0.5rem; }
.padded-1   { padding: 1rem;   }
.padded-2   { padding: 2rem;   }
.padded-5   { padding: 5rem;   }
.padded-7   { padding: 7rem;   }

.padded-t   { padding-top: 5%;    }
.padded-b   { padding-bottom: 5%; }
.padded-l   { padding-left: 5%;   }
.padded-r   { padding-right: 5%;  }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem;    }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem;   }
.padded-r-1 { padding-right: 1rem;  }

.padded-t-2 { padding-top: 2rem;    }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem;   }
.padded-r-2 { padding-right: 2rem;  }

.padded-t-0 { padding-top: 0;    }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0;   }
.padded-r-0 { padding-right: 0;  }


/*   Margin utility Classes   --------------------------*/
.margin-t   { margin-top: 5%;    }
.margin-b   { margin-bottom: 5%; }
.margin-l   { margin-left: 5%;   }
.margin-r   { margin-right: 5%;  }

.margin-t-1 { margin-top: 1rem;    }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem;   }
.margin-r-1 { margin-right: 1rem;  }

.margin-t-2 { margin-top: 2rem;    }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem;   }
.margin-r-2 { margin-right: 2rem;  }

.margin-t-0 { margin-top: 0;    }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0;   }
.margin-r-0 { margin-right: 0;  }

.margin-tb  { margin-top: 5%; margin-bottom: 5%; }
.margin-lr  { margin-left: 5%; margin-right: 5%; }


/* Minimum Height Classes ----------------------------*/

.tall-10    { min-height: 10vh; }
.tall-20    { min-height: 20vh; }
.tall-30    { min-height: 30vh; }
.tall-40    { min-height: 40vh; }
.tall-50    { min-height: 50vh;   }
.tall-60    { min-height: 60vh;   }
.tall-70    { min-height: 70vh;   }
.tall-80    { min-height: 80vh;   }
.tall-90    { min-height: 90vh;   }
.tall-100   { min-height: 100vh;  }


/* Backgrounds & Images -------------------------------*/

.bg-aqua     { background-color: #13ACC0; }
.bg-light    { background-color: #D7F7FB;}
.bg-dark     { background-color: #1A1B25;  }
.bg-pink     { background-color: #e0c2bf;
}

/* Image Styles --------------------------------------*/

.bg-image {
    background-color: #D7F7FB; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/assets-2/inner-wisdom-sage.jpg');
}

.landscape { padding-bottom: 65%;  }
.portrait  { padding-bottom: 125%; }
.square    { padding-bottom: 100%; }


/* Typography Styles --------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #1A1B25;
}

.left        { text-align: left;    }
.center      { text-align: center;  }
.right       { text-align: right;   }
.justify     { text-align: justify; }

h1 {
    font-family: "Abel", sans-serif;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 0.5rem;
    letter-spacing: -0.01em;
}

h2  { font-size: 2.5rem; }
h3  { font-size: 1.8rem; }
h4  { font-size: 1rem; }

p  {
    font-family: 'Lato', sans-serif;
    font-weight: 300;   
    line-height: 1.4;
    margin-bottom: 1.4rem;
    font-size: 1rem;
   }

h1:last-child,
h2:last-child
h3:last-child
h4:last-child
h5:last-child
h6:last-child
p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
}

a:hover { 
    color: #D7F7FB;
}

.font-weight-normal         { font-weight: normal; }
.font-weight-light          { font-weight: 200;    }
.font-weight-extra-bold     { font-weight: 800;    }

.featured-text { color: #13ACC0; }
.light-text { color: #D7F7FB; } 

.small-text     { font-size: 1.5rem;   }
.medium-text    { font-size: 2rem;     }
.big-text       { font-size: 4.5rem;   }

.subtle { 
    font-size: 1rem;    
    color: #D7F7FB;
    padding-top: 10%;
}


/* Font Awesome Icons --------------------------*/
 
.fa-solid {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #D7F7FB;
 }


 /* Header & Footer Styles --------------------*/

 /* Background image disappears completely when size & postion are added (both independently and together) */
 header {
    background-color: white;
    background-size: cover;
    background-position: center;
    padding: 2% 5%;
    width: 100%;
    position: fixed;
    top: 0;
 }

 header h3 {
    font-size: 5.5rem;
    line-height: 1;
 }

 header h1 {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
 }

 header h1:hover {
    color: #13ACC0;
 }

nav a {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

nav a:hover {
    color: #13ACC0;
}

.logo h2 { 
    margin-bottom: 0;
}

.logo {
    background-image: url('/images/inner-wisdom-logo-1.png');
    display: block;
}

.logo-white {
    background-image: url('/images/inner-wisdom-logo-2.png');
    display: block;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
}

footer a {
    display: inline-block;
    text-decoration: none;
}

footer a:hover { 
    color: #13ACC0; 
}


/* Background Images -------------------------*/

.bg-angelcards {
    background-image: url('/images/assets-1/inner-wisdom-angelcards.jpg');
}

.bg-blossoms {
    background-image: url('/images/assets-2/inner-wisdom-blossoms.jpg');
}

.bg-contact {
    background-image: url('images/assets-1/inner-wisdom-contact-2.jpg')
}

.bg-tarot {
    background-image: url('/images/assets-1/inner-wisdom-tarot.jpg');
    opacity: 90%;
}

.bg-hands {
    background-image: url('images/assets-1/inner-wisdom-hands.jpg')
}

.bg-healing {
    background-image: url('/images/assets-1/inner-wisdom-healing.jpg');
}
.bg-class {
    background-image: url('/images/assets-2/inner-wisdom-class.png');
}

.bg-oil {
    background-image: url('images/assets-1/inner-wisdom-oil.jpg');
    background-position: 75% 50%;
}

.bg-plr {
    background-image: url('/images/assets-1/inner-wisdom-plr-1.png');
}

.bg-psm {
    background-image: url('/images/assets-1/inner-wisdom-psm.jpg');
    background-position: 50% 35%;
}

.bg-rmg {
    background-image: url('/images/assets-1/inner-wisdom-rmg.png');
    background-position: center;
}

.bg-us {
    background-image: url('/images/assets-1/inner-wisdom-us.jpg');
    background-size: cover;
    background-position: 50% 0%;
}


/* Buttons & Forms  -----------------------------*/
 
input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
 }

input:focus,
textarea:focus {
    border: 2px solid #13ACC0;
    outline: none;
 }

 .mob-form {
    width: 100%;
 }

 .button {
    padding: 0.5rem 1rem;
    margin: 0rem;
    appearance: none;
    border: 2px solid #1A1B25; 
    color: #1A1B25;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
  }

.button:hover {
    color: #D7F7FB; 
    background-color: #1A1B25;
} 

.button-form {
    padding: 0.5rem 1rem;
    margin: 0rem;
    appearance: none;
    border: 2px solid #D7F7FB; 
    color: #D7F7FB;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    display: inline-block;
    background-color: #1A1B25;
}

.button-form:hover {
    color: #1A1B25;
    background-color: #D7F7FB;
}


/*--------------------------------- Media Queries  ---------------------------------*/


/* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {

    .hide-sm       {display: none; }

    .center-sm     { text-align: center; }

    .flex-flip-sm  { flex-direction: column-reverse; }

    .mob-padded-t-5     { padding-top: 5%; }
    .mob-padded-t-12    { padding-top: 12%; }

    .mob-padded-2       { padding: 2rem; }


    .mob-shrink-20 { max-width: 20vh;}

    .mob-padded { 
        padding: 10%;
        padding-top: 15%;
        padding-bottom: 15%;
     }


    /* .bg-plant {
        background-image: url('/images/plant-light.png');
    }
    
    .bg-plant-2 {
        background-image: url('/images/plant-2-light.png');
        background-position: 45% 50%;
    } */

}
